.card{
    width: 600px;
    border: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 4px;
    padding: 3px;
}

.task_item{
    display: inline-block;
    width: 500px;
    margin: 0;
}

.remove_btn{
    background: #e51b1b;
    color: #fff;
    border: none;
    border-radius: 3px;
}